header{
    width: 400px;
    background-color: brown;
    height: 500px;
    border-style: double;
    border-color: hotpink;
    border-width: 5px;
    border-radius: 40px;
    padding: 50px;
    margin-left: 100px;
    margin-top: 50px;
}
p:hover{
    background-color: dodgerblue;
    padding: 10px;
    box-shadow: 0 0 20pc 10px yellow;
}